<nav class="sidebar">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    </div>

    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/logs">Logs</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/qna">Q&A Manager</a></li>
        <li><a href="/ping-everyone">Ping Everyone</a></li>
        <li><a href="/announcements">Announcements</a></li>
        <li><a href="/autorole">Autorole</a></li>
    </ul>
</nav>
