{% extends "base.html" %}
{% block content %}

<h1>Tickets</h1>

<div class="vm-card">
    <div class="vm-card-body">

        <table class="vm-table">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Department</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            {% for t in tickets %}
            <tr class="sla-{{ t.sla_color }}">
                <td>{{ t._id }}</td>
                <td>{{ t.user }}</td>
                <td>{{ t.department }}</td>
                <td>{{ t.status }}</td>
                <td>
                    <a class="vm-btn vm-btn-primary" href="/ticket/{{ t._id }}">View</a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}
