<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Server Error</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="vm-login-container">

    <div class="vm-login-card">
        <h1 class="vm-login-title">500 — Server Error</h1>

        <p class="vm-login-text">
            Something went wrong on the server.  
            Try again later.
        </p>

        <a href="/" class="vm-btn vm-btn-primary vm-login-btn">
            Return to Dashboard
        </a>
    </div>

</div>

</body>
</html>
