<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="vm-login-body">

<div class="vm-login-box">

    <h1>Login</h1>

    <form method="POST" action="/login">

        <input type="text" name="username" class="vm-input"
               placeholder="Username" required>

        <input type="password" name="password" class="vm-input"
               placeholder="Password" required>

        <button class="vm-btn vm-btn-primary">Login</button>

    </form>

    {% if error %}
    <p class="vm-error">{{ error }}</p>
    {% endif %}

</div>

</body>
</html>
