{% extends "base.html" %}
{% block content %}
<h1>Logs</h1>

<h2>Moderation Logs</h2>
<ul class="cyber-list">
    {% for l in mod_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>Ticket Logs</h2>
<ul class="cyber-list">
    {% for l in ticket_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>System Logs (Q&A)</h2>
<ul class="cyber-list">
    {% for l in system_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>Appeal Logs</h2>
<ul class="cyber-list">
    {% for l in appeal_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>Staff Report Logs</h2>
<ul class="cyber-list">
    {% for l in staff_report_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>SLA Logs</h2>
<ul class="cyber-list">
    {% for l in sla_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>Priority Logs</h2>
<ul class="cyber-list">
    {% for l in priority_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>

<h2>Assignment Logs</h2>
<ul class="cyber-list">
    {% for l in assignment_logs %}
    <li>{{ l.time }} — {{ l.text }}</li>
    {% endfor %}
</ul>
{% endblock %}
