{% extends "base.html" %}
{% block content %}

<div class="section">
    <h2>{{ server.name }}</h2>
    <p>ID: {{ server.id }}</p>
</div>

<div class="section">
    <h3>Server Tools</h3>
    <a class="button" href="/commands">Commands</a>
    <a class="button" href="/moderation">Moderation</a>
    <a class="button" href="/support">Support Tools</a>
    <a class="button" href="/engagement">Engagement Tools</a>
    <a class="button" href="/qna">Q&A Manager</a>
    <a class="button" href="/settings">Settings</a>
</div>

{% endblock %}
